.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# Swap the comments on the following lines if you don't wish to use zero-installs
# Documentation here: https://yarnpkg.com/features/zero-installs
# WARNING: DON NOT ACTIVATE WITHOUT HAVING A GITHUB ACTION FOR CHECKING PACKAGES HASH
!.yarn/cache
#.pnp.*

*.log
.DS_Store
node_modules
.env
dist
.dist
.cache
build
**/build
yarn-error.log
build.log
build-error.log
yarn.build-error.log